snippet main
module Main where

main :: IO()
main = undefined
endsnippet

snippet lang
{-# LANGUAGE ${0:OverloadedStrings} #-}
endsnippet

snippet imp
import ${0:Data.Text}
endsnippet

snippet impq
import qualified ${1:Data.Text} as ${0:T}
endsnippet
