snippet main
module Main where

main :: IO()
main = undefined
endsnippet

snippet module
module ${1:Module} where
${0}
endsnippet

snippet lang
{-# LANGUAGE ${0:OverloadedStrings} #-}
endsnippet

snippet imp
import ${0:Data.Text}
endsnippet

snippet impq
import ${1:Data.Text} qualified as ${0:T}
endsnippet
