[user]
	email = dmitry.kvasnikov@gmail.com
	name = Dmitry Kvasnikov
[core]
	editor = vim
	pager = delta
	autocrlf = input
	safecrlf = warn
[init]
	defaultBranch = master
[pull]
	rebase = false
[format]
	pretty = %h %ad | %s%d [%an]
[log]
	date = short
