# touchpad settings
exec_always --no-startup-id xinput --set-prop "ELAN1300:00 04F3:3104 Touchpad" "libinput Tapping Enabled" 1
exec_always --no-startup-id  xinput --set-prop "ELAN1300:00 04F3:3104 Touchpad" "libinput Natural Scrolling Enabled" 1
exec_always --no-startup-id xinput --set-prop "ELAN1300:00 04F3:3104 Touchpad" "libinput Accel Speed" 0.8
